# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments (keep local only)
venv/
.venv/
env/
.env/

# Build and distribution folders
build/
dist/
.eggs/

# OS/system junk
.DS_Store
Thumbs.db

# Ignore generated outputs
Output

.vscode/*
!.vscode/settings.json